/* 
Name: Oliwier Jakubiec
Date: Feb 2025
ID : C00296807
Title: close loan account css
*/

/* give all elements box sizing of border box */
* {
  box-sizing: border-box;
}

/* the main div */
.theForm {
  /* adds space above the form */
  margin-top: 6em;
  /* sets a light purple background colour */
  background-color: rgb(245 227 255);
  /* thin purple border */
  border: solid #78569F 2px;
  /* rounded borders */
  border-radius: 16px;
  /* space around the form's elements */
  margin-top: 50px;
  padding: 16px;
  max-width: 50%;
  min-width: fit-content;
  margin: 50px auto;
}

/* styles the inputs */
.inputbox > input, select {
  /*  !important because the nav menu conflicts with these styles */
  /* thin purple border */
  border: solid #78569F 2px !important;
  /* slight rounded border */
  border-radius: 8px !important;
  /* horizontal padding */
  padding: 0 8px !important;
}

/* inputs of id submit when disabled */
input#submit:disabled,input#toggle:disabled {
  /* darken the color */
  background-color: #d9cfd7;
  color: #7c7c7c;
  border-color: #c5c5c5;
  /* no cursor */
  cursor: default;
}

/* button input */
.button > input {
  /* padding  */
  padding: 0.2rem 3rem;
  font-size: 1.2rem;
  height: auto;
  display: block; /* lets it be centered */
  border-radius: 5px;
  background-color: #f8fdff;
  color: black;
  border: solid #78569f 2px;
  cursor: pointer;  /* cursor changes to pointer when hovered */
  transition-timing-function: ease-out; /* smooth transition */
  transition: 0.6s; /* transition time */
  margin: 10px;
  margin: 0 auto; /* center the button */
}

/* button input when hovered */
.button > input:hover {
  color: white;
  background-color: #78569F;
}

/* read only inputs */
input:read-only, input:read-only:focus {
  outline: none;
}

/* make lables a little larger */
.inputbox > label {
  width: 275px;
}