/* 
Student Name 	: Oliwier Jakubiec
Student Id Number: C00296807
Date 			: 03/03/2025
Open Current Account */
* {
  box-sizing: border-box;
}

.theForm {
  /* adds space above the form */
  margin-top: 6em;
  /* sets a light purple background colour */
  background-color: rgb(245 227 255);
  /* thin purple border */
  border: solid #78569F 2px;
  /* rounded borders */
  border-radius: 16px;
  /* space around the form's elements */
  margin-top: 50px;
  padding: 16px;
  max-width: 50%;
  min-width: fit-content;
  margin: 50px auto;
}

/* styles the inputs */
.inputbox > input, select {
  /* I'm using !important because the nav menu conflicts with my styles */
  /* thin purple border */
  border: solid #78569F 2px !important;
  /* slight rounded border */
  border-radius: 8px !important;
  /* horizontal padding */
  padding: 0 8px !important;
}

input#submit:disabled {
  background-color: #d9cfd7;
  color: #7c7c7c;
  border-color: #c5c5c5;
  cursor: default;
}
input#toggle:disabled {
  background-color: #d9cfd7;
  color: #7c7c7c;
  border-color: #c5c5c5;
  cursor: default;
}

.button > input {
  padding: 0.2rem 3rem;
  font-size: 1.2rem;
  height: auto;
  display: block;
  border-radius: 5px;
  background-color: #f8fdff;
  color: black;
  border: solid #78569f 2px;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition: 0.6s;
  margin: 10px;
  margin: 0 auto;
}

.button > input:hover {
  color: white;
  background-color: #78569F;
}

input:read-only, input:read-only:focus {
  outline: none;
}

table {
  margin: 0 auto;
  border-spacing: 0px;
  padding: 10px;
  width: -webkit-fill-available;

}

.accountRow {
  margin: 0 auto;
  padding: 5px;
  max-width: fit-content;
  cursor: pointer;

}

.selectedAccount {
  border: solid black 2px;
  background: #ae6fae !important;
  color: white;
  text-decoration: underline;
}

.report {
  /* adds space above the form */
  margin-top: 6em;
  /* sets a light purple background colour */
  background-color: rgb(245 227 255);
  /* thin purple border */
  border: solid #78569F 2px;
  /* rounded borders */
  border-radius: 16px;
  /* space around the form's elements */
  margin-top: 50px;
  padding: 16px;
  max-width: 50%;
  min-width: 800px;
  margin: 50px auto;
}

p {
  font-size: 1.1rem;
}

td {
  text-align: center;
  padding: 2px;
}

th {
  padding: 10px;
  /* margin: 4px 3px 5px 0; */
}

tr:nth-child(even) {
  background-color: #e0c7ea;
}