:root {
    --sidebar-bg-color: #78569F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: auto 4fr;
}

.sidenav * {
    font-family: 'poppins';
    color: white;
    text-decoration: none;
}

.sidenav {
    width: 330px;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg-color);
    padding-bottom: 20px;
}

.sidenav ul {
    padding: 0px 20px 0px 20px;
}

.sidenav h2, .sidenav h2 a{
    font-size: 32px;
    text-align: center;
    padding: 30px 0px 10px 0px;
}

.sidenav button {
    background-color: var(--sidebar-bg-color);
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.sidenav button > div{
    font-weight: bold;
}

.sidenav button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.sidenav li {
    padding-top: 20px;
    display: flex;
}

.sidenav > ul > li > a {
    font-weight: bold;
}

li.dropdown {
    flex-direction: column;
}

.arrow {
    transform: rotate(180deg);
}

.material-symbols-outlined {
    transition-duration: 0.5s;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

a.active {
    color: #250066
}

a:hover {
    opacity: 0.8;
}

.dropdown ul.hidden {
    overflow: hidden;
    /* max-height: 0; */
    transition: max-height 0.5s ease-in-out;
    transition-behavior: allow-discrete;
}

.dropdown ul{
    transition: max-height 0.5s ease-in-out;
    transition-behavior: allow-discrete;
}

/* main {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* form {
    background-color: rgb(0, 247, 255);
    display: grid;
    grid-template-rows: auto repeat(4, 1fr) auto;
    gap: 10px;
    min-width: 400px;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 4px;
} */

.inputbox {
    display: flex;
    padding: 5px 10px;
}

.inputbox > label {
    font-size: 1.4em;
}

.inputbox > input {
    flex-grow: 1;
    margin-left: 20px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0px 10px;
    outline: none;
}

.inputbox > input:focus {
    outline: solid black 1px;
} 

form > h2 {
    font-size: 1.6em;
    text-align: center;
    margin: 10px 0px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.buttons > input {
    padding: 4px 40px;
    border: 1px solid gray;
    border-radius: 4px;
}