/* Names: Kyle Purcell, Brandon Jaroszczak, Darian Byrne
Note: this page was made about 45% Kyle, 45% Brandon, 10% Darian
Due to the very mixed contributions it is impossible to determine exactly who contributed to which line of code
Month: February/March 2025
Purpose: Common CSS styles used by the sidemenu and every webpage in the project */

/* CSS constants */
:root {
    --sidebar-bg-color: #78569F;
    --content-bg-color: #EED7FB;
    --content-border-color: #702e94;
}

/* Style every element */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

/* Style HTML and body with a height of 100 */
html, body {
    height: 100%;
}

/* Style main body layout */
body {
    display: grid;
    grid-template-columns: 330px 1fr;
}

main {
    grid-column: 2;
    /* min-height: 100vh; */
}

/* Style all elements in sidenav */
.sidenav * {
    font-family: 'poppins';
    color: white;
    text-decoration: none;
}

/* Style the sidenav itself */
.sidenav {
    width: 330px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, #5b3ec8, #6a48d7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

/* Style all h2 in sidenav */
.sidenav h2{
    text-align: center;
    padding: 30px 0px 10px 0px;
}

/* Style all buttons in sidenav */
.sidenav button {
    background-color: inherit;
    border: none;
    display: flex;
    justify-content: space-between;
}

/* Style all divs inside of all buttons in sidenav */
.sidenav button > div{
    font-weight: bold;
}

/* Style the hover inside of sidenav buttons */
.sidenav button:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Style all li elements in sidenav */
.sidenav li {
    padding-top: 20px;
    display: flex;
}

/* Style all links in sidenav */
.sidenav > ul > li > a {
    width: 100%;
    padding-inline: 20px;
}

/* Style all li with class dropdown */
li.dropdown {
    flex-direction: column;
}

.dropdown > button {
    padding-inline: 20px;
}

.dropdown a {
    padding-inline: 40px;
    width: 100%;
}

.dropdown:not(.account-maintenance) > ul > li.dropdown {
    padding-inline: 20px;
}

.account-maintenance > ul > li > button {
    padding-inline: 40px;
}

.account-maintenance > ul > li > ul a {
    padding-inline: 60px;
}

.sidenav a,
.sidenav button {
    padding-block: 10px;
    border-left: 4px solid transparent;
}

/* Style the imported arrow element class */
.arrow {
    transform: rotate(180deg);
}

/* Style the imported arrow element */
.material-symbols-outlined {
    transition-duration: 0.5s;
}

/* Style the imported arrow element hover */
.material-symbols-outlined:hover {
    cursor: pointer;
}

/* Style a elements that are active */
.sidenav > ul a.active {
    border-left: 4px solid #fff;
    font-weight: 600;
}

/* Style all a elements when hovered on */
a:hover {
    opacity: 0.8;
}

/* Style all hidden class uls inside of dropdown class elements */
.dropdown ul.hidden {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    transition-behavior: allow-discrete;
}

/* Style all uls inside of dropdown class elements */
.dropdown ul{
    transition: max-height 0.5s ease-in-out;
    transition-behavior: allow-discrete;
}

/* Style h1 */
h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
}

/* Style all forms that are not class close-window */
form:not(.close-window) {
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    width: 60%;
    max-width: 1000px;
}

/* Style all inputs and selects focus in the inputbox class */
.inputbox > input:focus, select:focus {
    outline: solid black 1px;
} 

/* Style all h2 elements in form */
form > h2 {
    font-size: 1.6em;
    text-align: center;
    margin: 10px 0px;
}

/* Style elements with the buttons class */
.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

/* Style all inputs inside the buttons class element */
.buttons > input {
    padding: 4px 40px;
    border: 1px solid gray;
    border-radius: 4px;
}

/*
    Name: Kyle Purcell
    Student Number: C00301808
    Date: 24/03/2025
    Description: A CSS file that styles the Add Customer, Delete Customer, Amend/View a Customer and Lodgements screens
*/

* {
    margin: 0; /*Removes the default margin for all elements*/
    padding: 0; /*Removes the default padding for all elements*/
    box-sizing: border-box; /*Ensures that padding and border width/length are not included in element width/height*/
}

#add-customer-form,
#delete-customer-form,
#amend-view-customer-form,
#lodgements-form,
#withdrawals-form,
#open-deposit-form,
#open-deposit-form-two,
#close-deposit-form,
.view-deposit-form {
    background-color: #fff;
    border: 2px solid #fff;
    padding: 2rem;
    display: grid;
    gap: 1.6rem;
    margin: 2rem 0;
    border-radius: 20px;
    min-width: 80%;
    box-shadow: 0px 0px 8px #d1d1d1;
    grid-template-columns: 1fr 1fr;
}

#add-customer-form {
    gap: 2rem!important; /*Sets the CSS specificity to the highest so that the style rules will always be applied*/
}

#delete-customer-form > p {
    grid-column: 1 / 3;
}

#delete-customer-form {
    min-width: 0;
}

label {
    font-size: 0.85rem;
    color: #555;
    font-weight: 500;
    flex: 1;
}

form p:not(.address-section, .amend-view-button-container, .form-buttons),
.inputbox {
    display: flex; /*Flex container that can expand and grow*/
    flex-direction: column;
    /* align-items: center; Centers elements within the flex container along the y-axis */
    justify-content: space-between; /*Sets elements within the flex container to have an even space between them along the x-axis*/
    gap: 0.4rem;
}

input:not(#deleteCustomer, #submit, #reset, #submitBtn, #confirm-button, #amend-view-button, .myButton > input, .buttons.check-details-delete-form > input, .view-deposit-form input[type="submit"]),
#select-customer,
#account-dropdown,
#account-type,
select {
    font-size: 1rem;
    padding: 0.6rem 1rem; 
    border: 1px solid #d6d6d6;
    border-radius: 6px; /*Rounds the border to make it appear more curved*/
    background-color: #fff;
    min-width: 50%;
}

#select-customer,
#account-dropdown,
#account-type {
    padding-right: 1rem;
    min-width: 50%;
}

.address-heading {
    font-size: 1.4rem;
    padding: 0.5rem 0rem;
}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly; /*Evenly distributes the space between each element and the edge of the flex container along the x-axis*/
    margin-top: 1rem;
    grid-column: 1 / 3;
    gap: 1.6rem;
}

.form-buttons>input,
#confirm-button,
.myButton > input[type="submit"],
#open-deposit-form-two .buttons input[type="submit"],
#deleteCustomer,
.view-deposit-form .buttons > input {
    font-size: 1rem;
    color: #fff;
    background-color: #6242cf;
    border: 1px solid #6242cf;
    border-radius: 8px;
    padding: 0.8rem 3rem;
    flex: 1;
    font-weight: 600;
}

.form-buttons > #reset {
    background: none;
    color: #6242cf;
}

.form-buttons > #submit:hover {
    cursor: pointer;
    background-color: #4f0b9d;
}

.form-buttons > #reset:hover {
    cursor: pointer;
    background-color: #f9f2ff;
}

#amend-view-button:hover {
    cursor: pointer;
    background-color: #f9f2ff;
}

main {
    display: flex;
    flex-direction: column; /*Sets direction from default row (horizontal) to column (vertical)*/
    align-items: center; /*Centers flex items along the flex container's y-axis*/
    justify-content: center; /*Centers flex items along the flex container's x-axis*/
}

.customer-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.amend-view-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#amend-view-button {
    margin-top: 1rem;
    border: 1px solid #6242cf;
    color: #6242cf;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.6rem 1rem; 
    border-radius: 6px; /*Rounds the border to make it appear more curved*/
    background-color: #fff;
    min-width: 50%;
}

.result-container {
    position: absolute; /*Positions the element relative to the nearest parent element and removes it from the normal document flow*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem; /*Sets a gap between flex items of 3rem*/
    background-color: #fffcff;
    border: 2px solid purple;
    border-radius: 16px;
    padding: 4rem 0rem;
}

.result-container form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-container > h2,
.result-container > form > input {
    font-size: 1.4rem!important;
    padding: 3rem 6rem;
    color: #2c004d;
}

.close-window {
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-window button:hover {
    cursor: pointer;
}

.close-window svg {
    width: 40px;
    height: 40px;
    fill: white; /*Fill property is used to style the background colour of an SVG element*/
}

.close-window button {
    border: 2px solid black;
    border-radius: 8px;
    background-color: #2c004d;
}

.disabled {
    opacity: 0.4;
    pointer-events: none; /*Disables all cursor activity over an element, disabling clicking on the element*/
}

#amend-view-customer-form > .select-customer,
#lodgements-form > .select-account {
    grid-area: 4 / 1 / 5 / 3;
}

#amend-view-customer-form > .amend-view-button-container,
#lodgements-form > .select-account-type  {
    grid-area: 3 / 1 / 4 / 3;
}

.myButton {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-column: 1 / 3;
    margin-top: 1rem;
}

#withdrawals-form > h1,
#withdrawals-form > h4 {
    grid-column: 1 / 3;
}

#lodgements-form > h1,
#amend-view-customer-form > h1,
#withdrawals-form > h1 {
    grid-column: 1 / 3;
    font-size: 2rem;
    color: #1a1a1a;
}

h4 {
    color: #555;
    grid-column: 1 / 3;
}

#add-customer-form h1,
#delete-customer-form h1,
#amend-view-customer-form h1,
#open-deposit-form h1,
#close-deposit-form h1,
.view-deposit-form h1 {
    font-size: 2rem;
    color: #1a1a1a;
    grid-column: 1 / 3;
}

#add-customer-form h4,
#withdrawals-form h4,
#delete-customer-form h4,
#amend-view-customer-form h4 {
    color: #555;
    grid-column: 1 / 3;
    text-align: center;
    margin-bottom: 1rem;
}

.buttons.check-customer-details {
    grid-area: 5 / 1 / 6 / 2;
}

#open-deposit-form-two .buttons {
    grid-column: 1 / 3;
    gap: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#open-deposit-form-two .buttons input[type="reset"] {
    border-color: #6242cf;
    color: #6242cf;
    font-weight: 600;
}

#open-deposit-form .buttons input,
.myButton > input[type="reset"] {
    border: 1px solid #6242cf;
    color: #6242cf;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.6rem 1rem; 
    border-radius: 6px; /*Rounds the border to make it appear more curved*/
    background-color: #fff;
    min-width: 50%;
}

.buttons.check-details-delete-form {
    grid-area: 6 / 1 / 7 / 2;
}

.buttons.delete-customer {
    grid-area: 6 / 2 / 7 / 3;
}

.buttons.check-details-delete-form > input {
    border: 1px solid #6242cf;
    color: #6242cf;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.6rem 1rem; 
    border-radius: 6px; /*Rounds the border to make it appear more curved*/
    background-color: #fff;
    min-width: 50%;
}

p#message {
    display: none;
    text-align: center;
    padding: 0.8rem 3.5rem;
    border: 1px solid red;
    color: red;
    border-radius: 6px;
}

#chooseCustomerButton,
#confirmCustomerButton {
    flex: 1;
}

.view-deposit-form .buttons {
    grid-area: 6 / 1 / 7 / 3;
}

.transactions-container {
    align-items: center;
    background-color: #fff;
    border: 2px solid #fff;
    padding: 2rem 0;
    display: grid;
    gap: 1.6rem;
    margin: 2rem 0;
    border-radius: 20px;
    min-width: 80%;
    box-shadow: 0px 0px 8px #d1d1d1;
}

.transactions-container h2 {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.transactions-container table {
    display: grid;
    gap: 1rem;
    grid-column: 1 / 3;
}

.transactions-container thead tr,
.transactions-container tbody tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;
    text-align: center;
}
